*{
    box-sizing: border-box;
}
.header{
    background-color: Brand / Purple 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}
.logo{
    font-size: 30px;
    font-weight: 700;
}
ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
.list{
    list-style: none;
    font-size: 20px;
}
.icon{
    width: 30px;
}

/* banner style */

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-text{
    width: 400px;
    margin: 40px;
}
.title{
    font-size: 25px;
    font-weight: 700;
}
.banner-text p{
    font-size: 20px;
}
.btn{
    background-color: darkmagenta;
    color: aliceblue;
    height: 20;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}
.banner-img{
    width: 400px;
    background-image: url("./images/Circle\ design.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 40px;
}
/* responsive for mobile device */
@media screen and (max-width: 576px) {
    .header{
        flex-direction: column;
        margin: 0px;
    }
    .banner{
        flex-direction: column;
        margin: 0px;
    }
}

/* sponsor style */
.sponsors{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 40px 70px;
    padding: 20px;
}

/* responive for phone */
@media screen and (max-width: 576px) {
    .sponsors{
        flex-direction: column;
        gap: 30px;
        margin: 10px;
    }
}

/* popular collection style */
.popular-collection{
    background-color: rgb(209, 204, 204);
    margin: 60px;
}
.popular-collection h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
}
.collection-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    background-color: white;
    padding: 20px;
    margin: 10px;
}
.card img{
    width: 100%;
    
}
.btn-primary{
    display: flex;
    text-align: right;
}
.container{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin: 100px;
}

/* media query */
@media screen and (max-width: 576px) {
    .container{
        flex-direction: column-reverse;
    }
}